@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

.inputData {
    margin-bottom: 20px;
}

.inputValue {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.inputData label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #1e1d1d, #2b2b2b);
    font-family: 'Inter', sans-serif;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}